.slider img {
  max-width: 100%;
}
div#top_menu {
    background: none;
    padding-top: 40px;
    margin-bottom: -40px;
}
div#top_menu > div {
    position: static;
    display: inline-block;
}
div#type_a {
    margin-right: 30px;
    margin-left: 15px;
}
img.sp {
    display: none;
}
@media screen and (max-width:767px) {
img.pc {
    display: none;
}
img.sp {
    display: block;
}
#header {
    max-width: 100%;
    height: auto;
    width: 140px;
    float: left;
    margin-left: 2%;
}
div#global_navi {
    display: none;
}
div#pankuzu {
    display: none;
}
div#pankuzu_bun {
    max-width: 100%;
    padding: 0;
}
#nav {
    display: none;
}
#title_logo {
    max-width: 100%;
    padding: 0;
}
#taxi_tille {
    border: none;
    width: 144px;
    float: left;
    margin-top: 14px;
}
.slider_back {
    max-width: 100%;
    height: auto;
    margin-top: 0;
}
h1#top {
    position: static;
    width: 100%;
    height: auto;
}
#header h1 a {
    width: 100%;
    height: initial;
}
#header ul.headlist {
    position: static;
    left: 0;
    top: 0;
    display: none;
}
#header .search-box {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: initial;
    display: none;
}
img {
  max-width: 100%;
}
div#container, #top_menu {
    max-width: 100%;
    height: auto;
}
#type_a, #type_s {
    position: static;
    top: 0;
    left: 0;
}
#topics_waku {
    max-width: 100%;
}
#topics_waku ul li {
}

#topics_waku ul li {
    max-width: 70% !important;
    width: 100% !important;
    padding: 3% 0 !important;
    padding-left: 23% !important;
    background: url(../images/nav/li_info.jpg) no-repeat !important;
    background-size: 21%,5% !important;
    background-position: left !important;
}
#topics_waku ul li.tpc{
background:url(../images/nav/li_topics.jpg) no-repeat !important;
    background-size: 21%,5% !important;
    background-position: left !important;
}

#topics_waku ul li.pre{
background:url(../images/nav/li_pre.jpg) no-repeat !important;
    background-size: 21%,5% !important;
    background-position: left !important;
}

#topics_waku ul li.sho{
background:url(../images/nav/li_sho.jpg) no-repeat !important;
    background-size: 21%,5% !important;
    background-position: left !important;
}

#topics_waku ul li.low{
background:url(../images/nav/li_low.jpg) no-repeat !important;
    background-size: 21%,5% !important;
    background-position: left !important;
}

#topics_waku ul li.info{
background:url(../images/nav/li_info.jpg) no-repeat !important;
    background-size: 21%,5% !important;
    background-position: left !important;
}

div#top_menu {
    padding: 0;
    margin: 0;
}
div#type_a {
    margin: 0;
    margin-right: 3%;
}
div#top_menu > div {
    display: inline-block;
    width: 45%;
}
.gototop ul li:last-child {
    padding-right: 10px;
    padding-top: 10px;
}
.footerlink {
    padding: 15px 15px 6px;
}
div#footer {
    padding-bottom: 6px;
}



}