.slider img {
  max-width: 100%;
}
div#top_menu {
    background: none;
    padding-top: 40px;
    margin-bottom: -40px;
}
div#top_menu > div {
    position: static;
    display: inline-block;
}
div#type_a {
    margin-right: 30px;
    margin-left: 15px;
}
img.sp {
    display: none;
}
@media screen and (min-width: 768px) {
.fat-nav {
    display: none !important;
}
}
@media screen and (max-width:767px) {
/*
.gmenu-btn {
    display: table;
    float: right;
    width: 12%;
    max-width: 120px;
    overflow: hidden;
    position: relative;
    background: url(../images/nav/menu.png) no-repeat center top;
    background-size: 100% auto;
    margin-bottom: 0;
}
.gmenu-btn span {
    height: 0;
    padding-top: 91.66667%;
}
.gmenu-btn a, .gmenu-btn span {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}
.open .gmenu-btn {
    background-position: center bottom;
}
*/
.fat-nav{
float: left;
/* width: 520px; */
}
#top_info{
float: right;
width: 308px;
margin: 0 5% 0 0;
}
.mv_inner h1{
float: left;
width: 156px;
margin:30px 4.23% 0 5%;
}
.fat-nav ul {
    letter-spacing: -1em;
    margin-top: 80px;
    list-style: none;
}
.fat-nav ul li{
/* display: inline-block; */
letter-spacing: 0;
margin: 0 28px 0 0;
text-align: center;
}
.fat-nav ul li a{
display: block;
transition: all .3s;
color: #fff;
font-size: 13px; font-size: 1.3rem;
padding: 13px 0 5px;
letter-spacing: .1em;
/* border-bottom: 3px solid transparent; */
position: relative;
text-shadow: 2px 2px 1px #000;
}

.fat-nav ul li a{
border-bottom: 3px solid #000;
}
.fat-nav ul li a:hover{
border-bottom: 3px solid #c6002f;
}
.fat-nav ul li a:hover {
    text-decoration: none !important;
}


.search_container {
    box-sizing: border-box;
    position: relative;
    border: 1px solid #999;
    padding: 3px 10px;
    border-radius: 20px;
    height: 3em;
    width: 68%;
    overflow: hidden;
    margin: 2.4em auto 2.2em;
}
.search_container input[type="text"] {
    border: none;
    height: 2.0em;
    width: 100%;
    background: none;
    color: #fff;
    padding-right: 3em;
    box-sizing: border-box;
    font-size: larger;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"] {
    cursor: pointer;
    font-family: FontAwesome;
    border: none;
    background: #3879D9;
    color: #fff;
    position: absolute;
    width: 3.5em;
    height: 3.7em;
    right: 0px;
    top: -3px;
    outline: none;
}

ul.mini {
    margin: 0 auto;
    text-align: center;
    padding: 0;
}
ul.mini li {
    display: inline-block;
}
ul.mini li a {
    font-size: 14px;
}
ul.mini li:last-child {
    margin-right: 0;
}
img.pc {
    display: none;
}
img.sp {
    display: block;
}
#header {
    max-width: 100%;
    height: auto;
    width: 134px;
    float: left;
    margin-left: 2%;
    margin-top: 8px;
}
div#global_navi {
    display: none;
}
div#pankuzu {
    display: none;
}
div#pankuzu_bun {
    max-width: 100%;
    padding: 0;
}
#nav {
    display: none;
}
#title_logo {
    max-width: 100%;
    padding: 0;
}
#taxi_tille {
    border: none;
    width: 144px;
    float: left;
    margin-top: 22px;
}
.slider_back {
    max-width: 100%;
    height: auto;
    margin-top: 0;
    position: static;
    clear: both;
}
h1#top {
    position: static;
    width: 100%;
    height: auto;
}
#header h1 a {
    width: 100%;
    height: initial;
}
#header ul.headlist {
    position: static;
    left: 0;
    top: 0;
    display: none;
}
#header .search-box {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: initial;
    display: none;
}
img {
  max-width: 100%;
}
div#container, #top_menu {
    max-width: 100%;
    height: auto;
}
#type_a, #type_s {
    position: static;
    top: 0;
    left: 0;
}
#topics_waku {
    max-width: 100%;
}
#topics_waku ul li {
}

#topics_waku ul li {
    max-width: 70% !important;
    width: 100% !important;
    padding: 3% 0 !important;
    padding-left: 23% !important;
    background: url(../images/nav/li_info.jpg) no-repeat !important;
    background-size: 21%,5% !important;
    background-position: left !important;
}
#topics_waku ul li.tpc{
background:url(../images/nav/li_topics.jpg) no-repeat !important;
    background-size: 21%,5% !important;
    background-position: left !important;
}

#topics_waku ul li.pre{
background:url(../images/nav/li_pre.jpg) no-repeat !important;
    background-size: 21%,5% !important;
    background-position: left !important;
}

#topics_waku ul li.sho{
background:url(../images/nav/li_sho.jpg) no-repeat !important;
    background-size: 21%,5% !important;
    background-position: left !important;
}

#topics_waku ul li.low{
background:url(../images/nav/li_low.jpg) no-repeat !important;
    background-size: 21%,5% !important;
    background-position: left !important;
}

#topics_waku ul li.info{
background:url(../images/nav/li_info.jpg) no-repeat !important;
    background-size: 21%,5% !important;
    background-position: left !important;
}

div#top_menu {
    padding: 0;
    margin: 0;
}
div#type_a {
    margin: 0;
    margin-right: 3%;
}
div#top_menu > div {
    display: inline-block;
    width: 45%;
}
.gototop ul li:last-child {
    padding-right: 10px;
    padding-top: 10px;
}
.footerlink {
    padding: 15px 15px 6px;
}
div#footer {
    padding-bottom: 6px;
}



}