@charset "UTF-8";

/* font setting */

/* except ie */

body
{
	font-size:100%;
}

.size14
{
	font-size:108%;
}

.size12
{
	font-size:100%;
}

.size10
{
	font-size:77%;
}

.bold
{
	font-weight:bold;
}

.toiawase_font{
	font-size:14px;
}

