@charset "utf-8";
 CSS Document 
#nav ul{
	list-style:none;
}

.sp_left{
	margin:0 0 0 20px !important;
}

#nav{
	position:relative;
	width:900px;
	height:30px;
	margin:0 auto;
}

ul#nav01,ul#nav02,ul#nav03,ul#nav04,ul#nav05,ul#nav06 {
	margin:0;
	padding:0;
}
		
ul#nav01 li {
	margin:0;
	padding:0;
	float:left; 
	display:block;
	height:50px;
}

ul#nav01 li a {
	margin:0;
	padding:0;
	display:block;
	height:50px;
}

ul#nav01:after {
	height:0;
	visibility:hidden;
	content:".";
	display:block;
	clear:both;
}

ul#nav02{
	display:none;
	border-left:1px solid #d2d2d2;
}

ul#nav03,ul#nav04,ul#nav05,ul#nav06{
	display:none;
	padding:16px 0;
	background-color:#f4f3f3;
	border-left:1px solid #d2d2d2;
	border-right:1px solid #d2d2d2;
	border-bottom:1px solid #d2d2d2;
}

.ue_sen{
	border-top:1px solid #d2d2d2;
}

.sita_sen{
	border-bottom:1px solid #d2d2d2;
}

.takasa{
	height:16px!important;
	line-height:0!important;
}

ul#nav02 li{
	float:none;
	position:relative;
	background-color:#f4f2f3;
	width:140px;
	height:30px;
	line-height:30px;
	font-size:12px;
	text-align:left;
}

ul#nav02 li a{
	background-image:url(../images/nav_bg.png);
	background-repeat:no-repeat;
	text-decoration:none;
	color:#626262;
	text-indent:32px;
}

ul#nav02 li a:hover{
	background-image:url(../images/nav_bg_on.png);
	background-repeat:no-repeat;
	color:#ff0000;
}

ul#nav02 li ul#nav03{
	position:absolute;
	top:-16px;
	left:140px;
	width:491px;
}

ul#nav02 li ul#nav04{
	position:absolute;
	top:-16px;
	left:140px;
	width:298px;
}

ul#nav02 li ul#nav05{
	position:absolute;
	top:-16px;
	left:140px;
	width:326px;
}

ul#nav02 li ul#nav06{
	position:absolute;
	top:-16px;
	left:140px;
	width:120px;
	overflow:hidden;
}

.s_width{
	width:180px!important;
}

.s_width li{
	width:180px!important;
}

ul#nav02 li ul#nav03 li,ul#nav02 li ul#nav04 li,ul#nav02 li ul#nav05 li{
	float:left;
}

ul#nav02 li ul#nav03 li.p01{
	width:84px;
	height:180px;
	border-right:1px solid #d2d2d2;
}

ul#nav02 li ul#nav04 li.p01{
	width:84px;
	height:120px;
	border-right:1px solid #d2d2d2;
}

ul#nav02 li ul#nav05 li.p01{
	width:84px;
	height:90px;
	border-right:1px solid #d2d2d2;
}

ul#nav02 li ul#nav03 li.p02{
	width:120px;
	height:30px;
	border-right:1px solid #d2d2d2;
}

ul#nav02 li ul#nav04 li.p02{
	width:120px;
	height:30px;
	border-right:1px solid #d2d2d2;
}

ul#nav02 li ul#nav05 li.p02{
	width:120px;
	height:90px;
	border-right:1px solid #d2d2d2;
}

ul#nav02 li ul#nav03 li.p03{
	width:108px;
	height:180px;
	border-right:1px solid #d2d2d2;
}


ul#nav02 li ul#nav04 li.p03{
	width:108px;
	height:120px;
	border-right:1px solid #d2d2d2;
}

ul#nav02 li ul#nav05 li.p03{
	width:120px;
	height:30px;
}

ul#nav02 li ul#nav03 li.p04{
	width:165px;
	height:30px;
	border-right:1px solid #d2d2d2;
}

ul#nav02 li ul#nav04 li.p04{
	width:177px;
	height:30px;
}

ul#nav02 li ul#nav03 li.p05{
	width:204px;
	height:30px;
}

ul#nav02 li ul#nav03 li.p06{
	width:165px;
	height:180px;
	border-right:1px solid #d2d2d2;
}

ul#nav02 li ul#nav03 li.p07{
	width:204px;
	height:30px;
}

ul#nav02 li ul#nav03 li.p08{
	width:120px;
	height:180px;
	border-right:1px solid #d2d2d2;
}

ul#nav02 li ul#nav03 li.p08 a{
	height:30px!important;
}

ul#nav02 li ul#nav04 li.p08{
	width:120px;
	height:90px;
	border-right:1px solid #d2d2d2;
}

ul#nav02 li ul#nav04 li.p08 a{
	height:30px!important;
}



.nav_midashi{
	color:#959595;
	padding-left:16px;
}

.nav_red{
	background-image:url(../images/nav_bg_on.png)!important;
	background-repeat:no-repeat;
	color:#ff0000!important;
}

.slider_back{
margin:20px auto 0;
padding:0;
width:900px;
height:300px;
position:relative;
}
.top_image{
position:absolute;
top:0;
left:0;
z-index:100;
}


