@charset "utf-8";
/* CSS Document */
#contents_main_left{

float:left;

}

#contents_main_left ul{

margin:0;
padding:0;
width:215px;
border:solid 1px #544f4d;

}

#ake{
width:217px;
height:59px;
margin:5px 0 0 0;
padding:0;

}

#contents_main_left li{

margin:0;
padding:0;
width:215px;
height:38px;
line-height:38px;
text-align:left;
background:url(../images/nav/side_back.jpg) repeat-x;
list-style:none;
border-bottom:solid 1px #544f4d;
font-size:12px;

}

#contents_main_left li a{

margin:0;
padding:0;
width:215px;
height:38px;
line-height:38px;
text-align:left;
background:url(../images/nav/maru.gif) no-repeat;
list-style:none;
font-size:12px;

}

#contents_main_left li.menu_title_topics{

height:38px;
line-height:38px;
text-align:left;
background:url(../images/nav/topics.jpg) no-repeat;
list-style:none;
border-bottom:solid 1px #544f4d;
font-size:12px;

}

#contents_main_left li.menu_title_a{

height:38px;
line-height:38px;
text-align:left;
background:url(../images/nav/type_a.jpg) no-repeat;
list-style:none;
border-bottom:solid 1px #544f4d;
font-size:12px;

}

#contents_main_left li.menu_title_s{

height:38px;
line-height:38px;
text-align:left;
background:url(../images/nav/type_s.jpg) no-repeat;
list-style:none;
border-bottom:solid 1px #544f4d;
font-size:12px;

}

#contents_main_left li.menu_title_l{

height:38px;
line-height:38px;
text-align:left;
background:url(../images/nav/type_l.jpg) no-repeat;
list-style:none;
border-bottom:solid 1px #544f4d;
font-size:12px;

}

#contents_main_left li.menu_title_digital{

height:38px;
line-height:38px;
text-align:left;
background:url(../images/nav/digital.jpg) no-repeat;
list-style:none;
border-bottom:solid 1px #544f4d;
font-size:12px;

}

#contents_main_left li.menu_title_ip{

height:38px;
line-height:38px;
text-align:left;
background:url(../images/nav/ip.jpg) no-repeat;
list-style:none;
border-bottom:solid 1px #544f4d;
font-size:12px;

}

#contents_main_left li.menu_title_cloud{

height:38px;
line-height:38px;
text-align:left;
background:url(../images/nav/cloud.jpg) no-repeat;
list-style:none;
border-bottom:solid 1px #544f4d;
font-size:12px;

}

#contents_main_left li.sub{

height:38px;
line-height:38px;
text-align:left;
background:url(../images/nav/maru.gif) no-repeat;
background-color:#f6f6f6;
list-style:none;
border-bottom:none;
font-size:12px;

}

#contents_main_left li.sub2{
height:38px;
line-height:38px;
background-image:none;
text-align:left;
background-color:#f6f6f6;
list-style:none;
border-bottom:none;
font-size:12px;
}

#contents_main_left li.red2 a{
color:#ff0000;
}

#contents_main_left li.sub2 a{
background-image:none;
padding-left:30px;
}

#contents_main_left li.sub2 a:hover{
background-image:none;
padding-left:30px;
}

#contents_main_left li.hikaku{
border-bottom:none;
height:48px;
background:url(../images/nav/hikaku_bg.jpg) no-repeat;
}

#contents_main_left li.hikaku a{
padding:5px 0 0 20px;
line-height:20px;
background:url(../images/nav/hikaku_bg.jpg) no-repeat;
}

#contents_main_left li.hikaku a:hover{
padding:5px 0 0 20px;
line-height:20px;
background:url(../images/nav/hikaku_bg2.jpg) no-repeat;
}

#contents_main_left li.tag{

margin:0;
padding:0 0 0 5px;
width:210px;
height:38px;
line-height:38px;
text-align:left;
background:url(../images/nav/side_back.jpg) repeat-x;
list-style:none;
border-bottom:none;
font-size:12px;
color:#848483;

}

#contents_main_left li.tag2{

margin:0;
padding:0 0 0 5px;
width:210px;
height:115px;
line-height:38px;
text-align:left;
list-style:none;
border-bottom:none;
font-size:12px;
color:#848483;
background:url(../images/nav/siro.jpg) ;

}

#contents_main_left li a{

margin:0;
padding:0 0 0 20px;
height:38px;
line-height:38px;
display:block;
color:#333333;

}

#contents_main_left li a:hover{

margin:0;
padding:0 0 0 20px;
height:38px;
line-height:38px;
background:url(../images/nav/maru_red.gif) no-repeat;
display:block;
color:#ff0000;
text-decoration:none;

}

#side_topics{

margin:0;
padding:0;

}

#side_topics a{

width:217px;
height:65px;
display:block;

}

#side_drive{

margin:20px 0;

}

#contents_main_left2{

float:left;
width:640px;
margin-left:40px;
position:relative;

}

#midashi{

text-align:left;
font-size:12px;

}

#top_menu{
width:900px;
height:284px;
margin:0;
background:url(../images/nav/waku.jpg) no-repeat;
position:relative;
}

#type_a{
position:absolute;
top:40px;
left:30px;
}

#type_a a:hover{
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

#type_s{
position:absolute;
top:40px;
left:308px;
}

#type_s a:hover{
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

#type_l{
position:absolute;
top:40px;
right:28px;
}

#type_l a:hover{
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

#type3{
margin:20px 0 30px;
}

#type3 a:hover{
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

#topics_head{
margin:0;
padding:0;
height:39px;
}

#topics_waku{
width:878px;
border:1px solid #c7c7c7;
margin:0 auto;
padding:0;
}

#topics_waku ul{
margin:0;
padding:0;
list-style:none;
text-align:left;
font-size:14px;
}

#topics_waku ul li.l01{
width:600px;
padding:20px 0 20px 240px;
margin:0 auto;
border-bottom:1px dotted #c7c7c7;
}

#topics_waku ul li.l02{
width:600px;
padding:20px 0 20px 240px;
margin:0 auto;
}

#topics_waku ul li.tpc{
background:url(../images/nav/li_topics.jpg) no-repeat 20px 40px;
}

#topics_waku ul li.pre{
background:url(../images/nav/li_pre.jpg) no-repeat 20px 40px;
}

#topics_waku ul li.sho{
background:url(../images/nav/li_sho.jpg) no-repeat 20px 40px;
}

#topics_waku ul li.low{
background:url(../images/nav/li_low.jpg) no-repeat 20px 40px;
}

#topics_waku ul li.info{
background:url(../images/nav/li_info.jpg) no-repeat 20px 40px;
}

